html,
body,
:root {
  height: 100%;
}

:root {
  --b-color-darkness: #052e16; /* Verde escuro */
  --b-color-base: #16a34a; /* Verde base */
  --b-color-medium: #22c55e; /* Verde médio */
  --b-color-light: #4ade80; /* Verde claro */
  --b-color-lightness: #f0fdf4; /* Verde claríssimo */
}
