.card-nova-senha {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: var(--s-spacing-x-small);

  .card-root {
    width: 420px;

    h1 {
      font: var(--s-typography-heading-medium);
      color: var(--s-color-content-default);
      padding: var(--s-spacing-medium) 0 var(--s-spacing-small)
        var(--s-spacing-medium);
    }

    p {
      font: var(--s-typography-paragraph-regular);
      color: var(--s-color-content-default);
    }

    .line {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--s-spacing-small);

      > :nth-child(1) {
        height: 1px;
        width: 100%;
        background-color: var(--s-color-border-default);
      }

      > :nth-child(3) {
        height: 1px;
        width: 100%;
        background-color: var(--s-color-border-default);
      }
    }

    .form-nova-senha {
      display: flex;
      flex-direction: column;
      gap: var(--s-spacing-small);

      .input-field {
        display: flex;
        flex-direction: column;
        gap: var(--s-spacing-small);
      }
    }
  }
}

@media screen and (max-width: 590px) {
  .card-nova-senha {
    .card-root {
      width: 80%;
    }
  }
}
